footer {
  margin: 0px;
  padding: 0px;
  background-color: black;
  text-align: center;
  padding: 20px;
  color: white;
}

.card {
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
  width: 1050px;
}
.logo {
  width: 100px;
  height: 100px;
}

.image {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 1000px) {
  #content,
  aside {
    width: 100%;
    padding: 0;
  }
}
